panda3d==1.10.11
requests
pyglet
pypresence
DirectGuiExtension
pyttsx3
psutil
pyscreenshot
pydatanet
distro
panda3d-character-controller
colorama
limeade
PyMsgBox
elevate
lupa
!!linux!! python-xlib
!!mac!! pyobjc-framework-cocoa
py-cpuinfo
numpy
google-api-python-client
